@model IQueryable<Country>

<div id="main">
    <table class="separated">
        <thead>
            <tr>
                <th>
                    Country name
                </th>
                <th>
                    Capital
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                @foreach (var entity in Model)
                {
                    <tr>
                        <td>
                            <a href="/Details?fullname=@entity.Name.Official">@entity.Name.Official</a>
                        </td>
                        @if (entity.Capital != null)
                        {
                            string tmp = "";
                            @foreach (var i in entity.Capital)
                            {
                                tmp += $"{i}, ";
                            }
                            <td>@tmp.TrimEnd(new char[] {',',' '})</td>
                        }
                        else
                        {
                            <td>No data</td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
</div>